body{
    font-family: Arial;
}

.todo-grid, .todo-input-grid{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 20px;
    row-gap: 20px;
}
.todo-input-grid{
    margin-bottom: 20px;
}
