body{
    font-family: Arial;
}

.todo-grid, .todo-input-grid{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    column-gap: 20px;
    row-gap: 20px;
    align-items: center;
}
.todo-input-grid{
    margin-bottom: 20px;
    align-items: stretch;
}
.name-input, .due-date-input{
    font-size: 15px;
    padding: 6px;
}

.add-todo-button{
    background-color: darkgreen;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.delete-todo-button{
    background-color: red;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}

.add-to-matrix{
    background-color: darkorange;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}

.your-tasks{
    border: 2px;
    border-color: lightgray;
    border-radius: 5px;
    border-style: solid;
    padding: 10px 20px;
}


